/* ===============================
   Colour Palette:
   ---------------
   Light Cream: #f2f3ee
   Orange:      #d17f38
   Yellow:      #e8c04f
   Brown:     #4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   font-family: 'Open Sans', sans-serif;
  background-image: url(images/bg-tile.gif);
}

.container {
  color:#4b2707;
  
}


/* Typography */

h1,h2 {
  text-justify:inter-word;
  display:flex;
  justify-content:center;
  font-family: 'Love Ya Like A Sister', cursive;

}

h1 {
  color:#d17f38;  
  background: url(images/header-divider.png) bottom no-repeat;
  padding: 15px;
  font-weight: normal;
  margin: 10px 5px 10px 0;
  padding-left: 30px; 
}

h1 em {
  color:#4b2707;

}

h2 {
  color:#d17f38;
}

h3 {
 }

p.lead {
  display:flex;
  justify-content:center;
  font-family: Open Sans, sans-serif;
  font-size: 30px;

}

p {
  
}

a:link, a:visited {
  color: #d17f38;

}

a:hover {

}

hr {
  content:url(images/divider.png);
  height: 30px;
  border-block:none;
}


/* Header */

header nav {
   
}

header nav ul {
  padding:0;
  margin:0;
  list-style-type:none;
  
}

header nav ul li {
float:left; /*pour IE*/
 border-left:1px solid black;
}

header nav ul li a {
  float:left;   
  width:100px;
  line-height:50px; /*hauteur de l'image de fond*/
  color:#DCDCDC;
  text-decoration:none;
  text-align:center;
}

header nav ul li a:hover {
  color: white;

}

header nav ul li#logo a {
  image:url(logo.png);

}

header nav ul li#logo a:hover {
  image:url(logo-hover.png),

}


/* Hero */

#hero {
  background-color:#e8c04f;
  
 
}

#hero .container {
  background-size: cover;
  justify-content: center;
  

}

#hero .large-ribbon {
  background-image:url(images/fresh-whole-ingredients.png);
  display: none;
}


/* The Whole Story */

#story-excerpt {
  display : inline-block;
  text-align : left;
  width:500px;
  border:1px;
}

#best-donut {
  background: url(images/award.png)no-repeat ;
  float: right;
  display : block;
  justify-content: flex-end;
  border:1px;
  flex-wrap: wrap;
  width:250px;
  



/* News & Events */

#articles {

}

#feature-image {
  float: left;

}

#news-events article {

}

#news-events article.news {
  display : inline-block;
  text-align : left;
  width:500px;
  border:1px;
}

#news-events article.event {
  display : inline-block;
  text-align : left;
  width:500px;
  border:1px;

}

#news-events header time {

}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {
  background-color: #4b2707; 
  
}

footer.main a:hover {

}

#uncopyright, #credits {
  
}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





